<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta property="og:title" content="<%= current_page.data.title %>">
    <meta property="og:image" content="<%= image_path('og-image.png') %>">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "common" %>
    <%= javascript_include_tag "vendors" %>
    <%= javascript_include_tag "common" %>
    <%= javascript_include_tag File.basename(current_path, '.html'), defer: true %>
  </head>
  <body class="ev-body__<%= current_page.data.name %>">
    <%= yield %>
    <div class="js-toast-wrapper"></div>
  </body>
</html>
